<a href="https://colab.research.google.com/github/vidurangaushan/IRWA-IT3041/blob/main/IRWA_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##01
teams = ["India","England","NZ","Aus"]
captains = ["Kohli","Root","Williamson","Smith"]
zipped = zip(teams,captains)
ziplist = list(zipped)
print(ziplist)

[('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williamson'), ('Aus', 'Smith')]

In [ ]:
##01 part 2
zipped = zip(teams,captains)
zipdict = dict(zipped)
print(zipdict)

{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williamson', 'Aus': 'Smith'}

In [ ]:
##02
books= ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantities = [3,2,1,4]

for x,y,z in zip(books,prices, quantities):
  print(f"You bought {z} {x} for ${y*z}")

You bought 3 textbooks for $300
You bought 2 exercise books for $120
You bought 1 story book for $90
You bought 4 drawing books for $280

In [ ]:
##03
list1 = [2,4,6,8,10]
x = [i+10 for i in list1]
print(x)

[12, 14, 16, 18, 20]

In [ ]:
##04
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [ ]:
##05
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
##05 part 2
list2 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list2[2][1][2].append(sub_list)
print(list2)

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [ ]:
##06
List1= [10,15,20,15,32,54,15]
while 15 in list1:
  list1.remove(15)
print(list1)

[10, 20, 30, 40]

In [ ]:
##07
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

##using unpack operator
dict_3 = {**dict_1,**dict_2}
print(dict_3)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [ ]:
##08
d = {0: 0, 1: 1, 2: 2, 3: 3}
k_old = 0
k_new = 4
d[k_new] = d.pop(k_old)
print(d)

{1: 1, 2: 2, 3: 3, 4: 0}

In [ ]:
##09
country=["USA","France","India"]
capital= ["Washington D.C.","Paris","New Delhi"]
dict_from_list = dict(zip(country, capital))
print(dict_from_list)

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

In [ ]:
##10
My_dict = {"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"}

keysToRemove = ["Book", "Crystal"]

for k in keysToRemove:
  My_dict.pop(k)
print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [ ]:
##11
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
key_to_extract = {'math', 'chem','sci'}

extracted_dict = {key: sub_dict[key] for key in sub_dict.keys()
                      & key_to_extract}

print("extracted key-value from dictionary : " , extracted_dict)

extracted key-value from dictionary :  {'math': 100, 'chem': 98, 'sci': 100}

In [ ]:
##12
List1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
List = []
for i in List1:

  if i%5==0:
    List.append(i)
print(List)

[15, 55, 75, 150, 180, 200]

In [ ]:
##13
numbers = [12, 75, 150, 180, 145, 525, 50]

for item in numbers:
  if item > 500:
    break
  elif item >150:
    continue
  elif item % 5 == 0:
    print(item)

75
150
145

In [ ]:
##14
def count_chars(str):
  upper_ctr, lower_ctr, number_ctr, special_ctr = 0, 0, 0, 0
  for i in range(len(str)):
    if str[i] >= 'A' and str[i] <= 'Z' : upper_ctr += 1
    elif str[i] >= 'a' and str[i] <= 'z' : lower_ctr += 1
    elif str[i] >= '0' and str[i] <= '9' : number_ctr += 1
    else: special_ctr += 1
  return upper_ctr, lower_ctr, number_ctr, special_ctr

str = "@W3Resource.Com"
print("Original Substrings : ", str)
u, l, n, s = count_chars(str)
print('\nUpper case characters : ',u)
print('Lower case characters : ',l)
print('Number case  : ',n)
print('Special case characters : ',s)

Original Substrings :  @W3Resource.Com

Upper case characters :  3
Lower case characters :  9
Number case  :  1
Special case characters :  2

In [ ]:
##15
n = 5
start = 2
sum_seq = 0

for i in range(0,n):
  print(start, end="+")
  sum_seq += start
  # calculate the next term
  start = start * 10 +2

print("\nSum of above series is : ", sum_seq)

2+22+222+2222+22222+
Sum of above series is :  24690